<!-- <span class="post-meta">Posted on {{ page.date | date: "%-d %B %Y"}}</span> -->
<!-- Outside U.S. Style with Non-English Full Month Name (Leading zeros removed.) -->
<!-- This example uses the German names for months. Any other language can be used by simply substituting the proper names for each month. -->
<!-- Whitespace added for readability -->
{% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Januar
  {% when '2' %}Februar
  {% when '3' %}M&auml;rz
  {% when '4' %}April
  {% when '5' %}Mai
  {% when '6' %}Juni
  {% when '7' %}Juli
  {% when '8' %}August
  {% when '9' %}September
  {% when '10' %}Oktober
  {% when '11' %}November
  {% when '12' %}Dezember
{% endcase %}{{ page.date | date: "%Y" }}
